body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    padding: 2%;
    max-width: 960px;
    margin: auto;
}

.active {
    background-color: #73000a;
    color: white;
}

.piece {
    width: 98%;
    margin: 1%;
}

.portfolio {
    width: 100%;
}

.lightbox {
     display: none;
     position: fixed;
     z-index: 999;
     width: 100%;
     height: 100%;
     text-align: center;
     top: 0;
     left: 0;
     background: rgba(0, 0, 0, 0.8);
}
        
.lightbox img {
    max-width: 90%;
    max-height: 80%;
    margin-top: 2%;
}
        
.lightbox:target {
    outline: none;
    display: block;
}

#pagenav {
  width: 100%;
  background: #000;
  /* If you want the navigation bar to stick on top
  position: sticky;
  top: 0;
  */
}

#pagenav label, #hamburger {
  display: none;
}

#pagenav ul {
  list-style-type: none;
  margin: 0;
  padding: 0; 
}
#pagenav ul li {
  display: inline-block;
  padding: 10px;
  box-sizing: border-box;
    color: #fff;
}
#pagenav ul li a {
  color: inherit;
  text-decoration: none;
    padding: 11px 10px 11px 10px;
}

#pagenav ul li:hover {
  background-color: #ddd;
  color: black;
}

@media screen and (min-width:525px) {
    
    .piece {
        width: 30%;
        float: left;
    }
    
}
    
    
@media screen and (max-width:525px) {
    
     #pagenav label {
         display: inline-block;
         color: #fff;
         background: #a02620;
         font-style: normal;
         font-size: 1.2em;
         padding: 10px;
    }
    
    #pagenav ul li {
        display: block;
    }
  
    #pagenav ul li {
        border-top: 1px solid #333;
    }
    
    #pagenav ul {
        display: none;
    }
    
    #pagenav input:checked ~ ul {
        display: block;
  }
    
}
